<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<% if (locals.user) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>
	
	<!-- Banner -->
	<div class="banner">
		<img src="/images/header.png" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% if(camisetas_de_futbol.length == 0) { %>
				<div class="col-12">
					<h2 class="products-title">No hay productos</h2>
				</div>
			<% } else { %>
				<% for(let i = 0; i < camisetas_de_futbol.length; i++) { %>
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="/productos/detalle/<%= camisetas_de_futbol[i].id %>">
								<figure class="product-box_image">
									<img src="<%= camisetas_de_futbol[i].imagen %>" alt="<%= camisetas_de_futbol[i].nombre %>">
								</figure>
								<article class="product-box_data">
									<h2><%= camisetas_de_futbol[i].nombre %></h2>
									<p><%= camisetas_de_futbol[i].descripcion %></p>
									<p>Comentarios: <%= camisetas_de_futbol[i].producto_comentario.length %></p>
								</article>
							</a>
						</section>
					</div>
				<% } %>
			<% } %>
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% if(camisetas_de_futbol.length == 0) { %>
				<div class="col-12">
					<h2 class="products-title">No hay productos</h2>
				</div>
			<% } else { %>
				<% for(let i = 0; i < camisetas_de_futbol.length; i++) { %>
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="/productos/detalle/<%= camisetas_de_futbol[i].id %>">
								<figure class="product-box_image">
									<img src="<%= camisetas_de_futbol[i].imagen %>" alt="<%= camisetas_de_futbol[i].nombre %>">
								</figure>
								<article class="product-box_data">
									<h2><%= camisetas_de_futbol[i].nombre %></h2>
									<p><%= camisetas_de_futbol[i].descripcion %></p>
									<p>Comentarios: <%= camisetas_de_futbol[i].producto_comentario.length %></p>
								</article>
							</a>
						</section>
					</div>
				<% } %>
			<% } %>
		</div>
	</div>
	<!-- /Más comentados -->

	<%- include('./partials/footer') %>
	
</body>	
</html>