<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<% if (locals.user) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= producto.nombre %></h2> 
			<!-- <p class="product-detail-description">
				<a href="/productos/productAdd">Editar</a>
			</p> -->
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
				<% if (locals.user){ %>
					<% if (locals.user.id == producto.producto_usuario.id){ %>
						<form action= '/productos/eliminar/<%= producto.id %>' method= 'POST'>
							<button type= 'submit'> Eliminar Producto </button>
						</form>
					
					<% } %>
				<% } %> 
					<img src="<%= producto.imagen %>" alt="" class="product-detail-img">
					<p class="product-detail-description"><%= producto.descripcion %></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% if (producto.producto_comentario.length === 0) { %>
							<p class="product-detail-description">No hay comentarios</p>
						<% } else { %>
							<% for(let i = 0; i < producto.producto_comentario.length; i++) { %>
								<article>
									<img src="/images/users/<%= producto.producto_comentario[i].comentario_usuario.foto %>" alt="">
									<div class="data">
										<p class="user">
										<strong> <a href="/users/profile/<%= producto.producto_comentario[i].comentario_usuario.id %>"><%= producto.producto_comentario[i].comentario_usuario.usuario %></a>: </strong><%= producto.producto_comentario[i].texto %></p>
									</div>
								</article>
							<% } %>
						<% } %>
					</section>
					<form class="form" method="POST" action="/productos/comentar/<%= producto.id %>">
						<input class="form-input" type="text" value="" name="comentario" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<%- include('./partials/footer') %>

</body>	
</html>