<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

	<body>
		<% if (locals.user) { %>
			<%- include('./partials/headerLogueado') %>
		<% } else { %>
			<%- include('./partials/header') %>
		<% } %>

			<!-- Datos del usuario -->
			<section class="info-usuario container products-wrapper">
				<div class="row">
					<div class="img-container offset-3 col-2">
						<img src="/images/users/<%= usuario.foto %>" alt="foto de perfil" class="foto-perfil">
					</div>
					<div clasclass="d-flex align-items-center ">
						<% if (locals.user != undefined) { %>
						<% if (locals.user.id == usuario.id) { %>
							<h1 class="main-title"> 
								<a href="/users/profileEdit">
									<i class="fas fa-cog"></i> <%=usuario.nombre%>
								</a>
							</h1>
						<% } else { %>
							<a class="btn mt-3 ml-4" href="">SEGUIR</a> <!--no deberia tirar a editar perfil, solo mostrar si no es tu usuario propio -->
						<% } %>
					<% } else { %>
						<a class="btn mt-3 ml-4" href="/users/login">SEGUIR</a> <!--no deberia tirar a editar perfil, solo mostrar si no es tu usuario propio -->
					<% } %>
					</div>
					<div>
						<ul class="">
							<li><%= usuario.usuario_producto.length %> productos</li>
							<li>200 seguidores</li>
							<li>300 comentarios</li>
						</ul>
					</div>
				</div>
				</div>
			</section>
			<!-- /Datos del usuario -->

			<!-- Mis productos -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Mis productos</h2>
					</div>
					<!-- Show mis productos -->
					<% for(let i = 0; i < usuario.usuario_producto.length; i++) { %>
						<div class="col-12 col-sm-6 col-lg-3">
							<section class="product-box">
								<a href="/productos/detalle/<%= usuario.usuario_producto[i].id %>">
									<figure class="product-box_image">
										<img src="<%= usuario.usuario_producto[i].imagen %>" alt="cafetera moulinex">
									</figure>
									<article class="product-box_data">
										<h2><%= usuario.usuario_producto[i].nombre %></h2>
										<p><%= usuario.usuario_producto[i].descripcion %></p>
										<p>Comentarios: <%= usuario.usuario_producto[i].producto_comentario.length %></p>
									</article>
								</a>
							</section>
						</div>
					<% } %>
				</div>
			</div>
			<!-- /Mis productos -->


			<%- include('./partials/footer') %>
	</body>

</html>